{% extends "base.html" %}

{% block pagenavitems %}
{% endblock %}

{% block content %}

<main class="row">
    <div class="about">
        <h3>Contact Us</h3>
        <br>
        <h5>House No - 101, Street - 101 NE</h5>
        <h5>City - Redmond</h5>
        <br><br>
        <h5 class="text-italic">Email us at: singhshalinis@gmail.com</h5>
        <!-- TODO: Create a form to take inputs/suggestions or open default email
            application to write a message -->
    </div>
</main>

{% endblock %}