{% extends "base.html" %}

{% block pagenavitems %}
    <a class="navitems" href="/profile">{{cookie_username}}</a> | <!-- <TO-DO>show profile -->
    <a class="navitems" href="/newpost">write a story</a> |
    <a class="navitems" href="/signout">Sign out</a> <!--conditional signin/signout/username-->
{% endblock %}

{% block content %}

        <div class="allpagecontent ">
            <section>
                <h1>Welcome {{cookie_username}}!</h1>
                <br><br>
                <h3>What would you like to do?</h3>
                <h5><a href="/">Go to Home Page</a></h5>
                <h5><a href="/profile">Edit Profile</a></h5>
                <!-- TO-DO What do you want to do? -->
            </section>
        </div>
{% endblock %}